body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
}

button {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 5px 25px;
    border: 1px solid black;
}

#container {

    display: flex;
    width: 480px;
    height: 480px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square {
    border: 1px solid black;
    margin: 2px;
}